* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
.ui-widget,
.axis {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
}

header {
    background: rgb(32, 32, 32);
    padding: 0.5em 1em 3.5em;
    text-align: center;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

header h1 {
    position: absolute;
    bottom: 10px;
    color: #fff;
    right: 0;
    left: 0;
    font-size: 40px;
}

p,
ul {
    font-size: 17px;
    line-height: 28px;
    max-width: 780px;
    margin: 15px auto 1.5em;
}

h2 {
    max-width: 780px;
    margin: auto;
}

ul {
    margin-top: -25px;
    padding-left: 45px;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5em auto;
    position: relative;
    width: 99%;
    max-width: 1500px;
    padding-left: 1%;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

.factor-tabs-wrapper {
    width: 11%;
    position: relative;
}

.factor-tab-btn {
    background: #f0f0f0;
    cursor: pointer;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}

.factor-tab-btn.active {
    background: #fff;
    margin-right: -2px;
    border: 2px solid #ccc;
    border-right: 0;
    z-index: 99;
    position: relative;
}

.tabs-wrapper {
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    width: 51%;
    padding: 1% 0;
    border: 2px solid #ccc;
    border-right: 0;
}

.line-graph-wrapper {
    width: 38%;
    padding: 0;
    text-align: center;
    border: 2px solid #ccc;
    border-left: 0;
    padding: 1% 0;
}

.factor-tab,
.factor-tabs {
    position: relative;
}

.factor-tab,
.factor-tabs {
    display: none;
}

.factor-tab label {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: -20px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

.factor-tab label small {
    font-size: 60%;
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.factor-tab p {
    font-size: 11px;
    position: absolute;
    bottom: -20px;
    padding-left: 25px;
    margin: 0;
}

.factor-od,
.factor-od-bottom,
.factor-all {
    display: block!important;
}

#slider,
#slider-bottom {
    margin: 3.5em auto;
    width: 80%;
    margin-right: 15%;
}

#slider label,
#slider-bottom label {
    margin-left: -10px;
    font-size: 13px;
    margin-top: 20px;
    position: absolute;
    text-align: center;
}

/* Legend Position Style */

.legend {
    position: absolute;
    right: 75px;
    top: 55px;
    width: 65px;
    overflow: visible;
}

.legend.legend-bottom {
    right: 30px;
}

.axis text {
    font-size: 12px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend rect {
    width: 20px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    margin-top: -5px;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* Line graph styling */

.linegraph {
    display: none;
    overflow: visible;
}

.line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 2px;
}

.state text {
    display: none;
    font-size: 12px;
    z-index: 9999;
    position: relative;
}

.od-linegraph {
    display: block!important;
    margin-top: 5.5em;
}

.state.hovered text,
.linegraph .state:hover text {
    display: block;
}

.state.hovered .line,
.linegraph .state:hover .line {
    stroke: rgba(0, 0, 0, 0.8);
    stroke-width: 4px;
    z-index: 99999;
}

.linegraph .state:hover .line {
    stroke: rgba(0, 0, 0, 0.8)!important;
}

.tick {
    position: relative;
}

.tick:before {
    content: 'r';
    position: absolute;
    top: 0;
    left: 0;
}

.tooltip {
    height: 110px;
    width: 105%;
    position: absolute;
    top: -120px;
    left: 0;
    background: rgb(32, 32, 32);
    z-index: 9999;
    border: 1px solid rgb(32,32,32);
}

.tooltip span.main-span {
    position: absolute;
    top: 47%;
    z-index: 99999;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 5px;
    font-size: 13px;
}

.tooltip .mini-btn {
    background: #f0f0f0;
    padding: 4px 10px;
    color: #646464;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
}

.tooltip__arrow {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
}

.tooltip__arrow::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(32, 32, 32);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 0;
    left: 50%;
}

#container {
    max-width: 780px;
    height: 400px;
    margin: 0 auto;
}
