* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, .ui-widget, .axis{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

header {
    background: rgb(32,32,32);
    padding: 0.5em 1em 3.5em;
    text-align: center;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

header h1 {
    position: absolute;
    bottom: 10px;
    color: #fff;
    right: 0;
    left: 0;
    font-size: 50px;
}

p {
    font-size: 18px;
    line-height: 28px;
    max-width: 700px;
    margin: 15px auto 1.5em;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3em auto 5em;
    position: relative;
    width: 1280px;
}

.factor-tabs-wrapper {
    width: 10%;
}

.factor-tab-btn {
    background: #f0f0f0;
    cursor: pointer;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}

.factor-tab-btn.active {
    background: #fff;
}

.tabs-wrapper {
    padding-left: 1%;
    padding-right: 3%;
    position: relative;
    width: 57%;
}

.line-graph-wrapper {
    width: 43%;
    padding: 25px;
    text-align: center;
}

.factor-tab {
    position: relative;
}

.factor-tab, .factor-tabs {
    display: none;
}

.factor-tab label {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

#slider {
    margin: 2em auto;
    width: 100%;
}

#slider label {
    margin-left: -18px;
    margin-top: 20px;
    position: absolute;
    text-align: center;
}

/* Legend Position Style */

.legend {
    position: absolute;
    right: 0px;
    bottom: 105px;
    width: 65px;
}

.axis text {
    font-size: 14px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend rect {
    width: 20px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}