* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, .ui-widget, .axis{
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -50px;
    margin: 3em auto 1em;
    position: relative;
    width: 1000px;
}

.factor-tabs-wrapper {
    width: 15%;
}

.factor-tab-btn {
    background: #f0f0f0;
    cursor: pointer;
    height: 105px;
    line-height: 105px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.factor-tab-btn.active {
    background: #fff;
}

.tabs-wrapper {
    padding-left: 5%;
    width: 85%;
}

.factor-tab {
    position: relative;
}

.factor-tab, .factor-tabs {
    display: none;
}

.factor-tab label {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

#slider {
    margin: 2em auto;
    width: 100%;
}

#slider label {
    margin-left: -18px;
    margin-top: 20px;
    position: absolute;
    text-align: center;
}

/* Legend Position Style */

.legend {
    position: absolute;
    right: -55px;
    top: 0;
    width: 70px;
}

.axis text {
    font-size: 15px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}